@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  font-family: "Lato", sans-serif; }

html,
body {
  height: 100%; }

.content {
  flex-grow: 1; }

.main {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.header {
  background: #222222;
  height: 74px; }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 18px; }
  .header__left_logo {
    margin-right: 41px; }
  .header__right_login {
    display: none; }
  .header__right_basket {
    display: none; }

.promo {
  min-height: 363px;
  position: relative; }
  .promo__img {
    display: none; }
  .promo__img img {
    display: block;
    width: 100%; }
  .promo__name {
    background-color: #F1E4E6;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222; }
  .promo__text {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    margin: 0;
    box-sizing: border-box; }
  .promo__text p:first-child {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px; }
  .promo__text p:last-child {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px; }
  .promo__text span {
    color: #F16D7F; }

.nav {
  display: none; }

.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 247px) 111px;
  row-gap: 32px;
  padding: 64px 16px; }
  .menu__women {
    background-image: url("img/index/women.jpg"); }
  .menu__man {
    background-image: url("img/index/man.jpg"); }
  .menu__kids {
    background-image: url("img/index/kids.jpg"); }
  .menu__accesories {
    background-image: url("img/index/accesories.jpg"); }
  .menu_flex {
    display: block;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
  .menu_flex:hover {
    filter: brightness(50%); }
  .menu__text:first-child {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF; }
  .menu__text:last-child {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F; }
  .menu > a {
    text-decoration: none; }

.featured {
  text-align: center;
  height: 100%;
  margin-bottom: 64px; }
  .featured__heading {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center; }
  .featured__p {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
    margin-bottom: 18px; }

.product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .product__box {
    margin-top: 30px;
    background: #F8F8F8;
    width: 359px;
    position: relative; }
  .product__box:hover .product__img {
    filter: brightness(50%); }
  .product__box:hover .product__add {
    display: block; }
  .product__text {
    text-align: left;
    text-decoration: none;
    padding: 17px 25px; }
  .product__name {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-decoration: none; }
  .product__name h4 {
    margin-bottom: 12px; }
  .product__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px; }
  .product__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F; }
  .product__add {
    display: none;
    position: absolute;
    left: 110px;
    top: 187px;
    justify-content: center;
    align-items: center; }
  .product__add button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px; }
  .product__add button img {
    width: 26px;
    height: 24px;
    margin-right: 11px; }

.allproduct {
  display: block;
  margin: 40px auto;
  width: 212px;
  height: 48px;
  border: 1px solid #FF6A6A;
  font-size: 16px;
  line-height: 48px;
  color: #FF6A6A;
  align-items: center;
  text-decoration: none; }
  .allproduct:hover {
    background-color: #FF6A6A;
    color: #FFFFFF; }

.blackpart {
  background: #222224;
  margin: 0; }

.benefits {
  background-color: #222224;
  display: flex;
  flex-wrap: wrap;
  padding-top: 46px;
  padding-bottom: 36px; }
  .benefits__forma {
    width: 360px;
    margin: 0 auto;
    background-color: #222224;
    text-align: center;
    margin-bottom: 46px; }
  .benefits__heading {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    font-weight: normal;
    margin-top: 27px;
    margin-bottom: 14px; }
  .benefits__text {
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    font-weight: 300; }
  .benefits__img {
    height: 40px;
    width: auto; }

.subscribe {
  background-image: url("img/index/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 110px;
  padding-left: 20px;
  padding-right: 20px; }
  .subscribe__review {
    display: block;
    text-align: center; }
  .subscribe__photo {
    padding-bottom: 30px; }
  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .subscribe__form h3 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 48px;
    color: #222224; }
  .subscribe__form h4 {
    font-size: 14px;
    text-align: center;
    color: #222224;
    font-weight: normal; }
  .subscribe .form {
    height: 47px;
    margin-top: 27px; }
    .subscribe .form input {
      background: #e1e1e1;
      border: none;
      padding: 6px 21px;
      box-sizing: border-box;
      border-top-left-radius: 28px;
      border-bottom-left-radius: 28px;
      float: left;
      width: 185px;
      height: inherit;
      font-size: 14px;
      line-height: 17px;
      align-items: center;
      color: #222224;
      opacity: 0.67; }
    .subscribe .form button {
      height: inherit;
      background-color: #f16d7f;
      border-top-right-radius: 28px;
      border-bottom-right-radius: 28px;
      border: none;
      padding: 0 17px;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF; }

.address {
  background: #222224; }
  .address__web {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .address__icon {
    margin-top: 48px;
    margin-bottom: 40px; }
  .address__icon a {
    padding: 3.5px; }
  .address__text {
    color: #fffffF;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 9px; }

@media (min-width: 768px) {
  .header__content {
    padding-left: 32px;
    padding-right: 32px; }

  .header__right_login,
  .header__right_basket {
    display: inline; }

  .header__right_login {
    margin-right: 42px;
    margin-left: 25px; }

  .promo {
    display: flex; }
    .promo__img {
      display: block;
      width: 50%; }
    .promo__name {
      width: 50%; }
    .promo__text p:first-child {
      font-size: 44px;
      line-height: 50px; }
    .promo__text p:last-child {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px; }

  .menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 167px 116px;
    gap: 20px; }
    .menu__accesories {
      grid-column: 1/4; }

  .allproduct {
    margin-top: 32px; }

  .benefits__forma {
    padding-left: 204px;
    padding-right: 204px; }

  .address__web {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px 32px; }

  .address__icon {
    margin-top: 0;
    margin-bottom: 0; }

  .address__text {
    margin-bottom: 0; } }
@media (min-width: 1440px) {
  .container {
    max-width: 1140px;
    margin: 0 auto; }

  .promo__name {
    justify-content: flex-start;
    filter: brightness(50%); }
  .promo__img {
    filter: brightness(50%); }
  .promo__text {
    margin-left: 64px; }
  .promo__text p:first-child {
    font-size: 48px;
    line-height: 58px; }
  .promo__text p:last-child {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px; }

  .nav {
    display: block;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px; }
    .nav__type {
      list-style: none; }
    .nav h2 {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      padding-top: 37px;
      padding-left: 34px; }
    .nav__h3 {
      margin-top: 16px; }
    .nav__href {
      font-size: 14px;
      line-height: 25px;
      color: #F16D7F;
      padding-left: 33px;
      text-decoration: none; }
    .nav__link {
      font-size: 14px;
      line-height: 30px;
      color: #6F6E6E;
      padding-left: 31px;
      text-decoration: none; }
    .nav__link:hover {
      color: #F16D7F; }

  .menu {
    grid-template-rows: 260px 180px;
    gap: 30px; }

  .allproduct {
    margin-top: 63px; }

  .benefits {
    padding-top: 104px;
    padding-bottom: 58px; }

  .benefits__forma {
    padding-left: 0;
    padding-right: 0;
    flex-wrap: nowrap; }

  .subscribe {
    padding-top: 97px;
    padding-bottom: 126px; }
    .subscribe__block {
      display: flex;
      justify-content: space-between; } }
@media (min-width: 1600px) {
  .nav__h3 {
    margin-top: 25px; } }
.new {
  background: #F8F3F4;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 46px; }
  .new__h3 h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-align: center;
    margin-bottom: 32px; }
  .new__text {
    text-align: center; }
  .new__text a {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none; }
  .new__text a span {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F; }

.filter {
  display: flex;
  justify-content: space-between;
  padding: 24px 8px 0; }
  .filter__menu_list li {
    display: inline-block;
    list-style-type: none;
    padding-left: 24px; }
  .filter__menu_list li a {
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    color: #6F6E6E; }

.pagination {
  margin: 40px auto 64px;
  width: 284px;
  border: 1px solid #EBEBEB;
  padding-top: 16px;
  padding-bottom: 16px; }
  .pagination a {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-left: 6px;
    padding-right: 6px;
    color: #C4C4C4;
    text-decoration: none;
    transition: background-color 0.3s; }
  .pagination a.active {
    color: #EF5B70; }

.product__cart {
  background-color: #F7F7F7;
  position: relative; }
  .product__cart_img {
    display: block;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 85px;
    margin: 0 auto; }
  .product__cart_arrow_left {
    position: absolute;
    top: 288px;
    left: 0; }
  .product__cart_arrow_right {
    position: absolute;
    top: 288px;
    right: 0; }

.specification {
  text-align: center;
  padding-top: 64px;
  margin-bottom: 34px;
  border: 1px solid #EAEAEA; }
  .specification h4 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F; }
  .specification h5 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D; }
  .specification__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 143.1%;
    text-align: center;
    color: #5E5E5E;
    padding: 32px 24px; }
  .specification__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: #EF5B70; }
  .specification__trait_1 {
    width: 63px;
    margin: 12px auto;
    height: 3px;
    color: #EF5B70;
    background-color: #EF5B70;
    border: none; }
  .specification__trait_2 {
    width: 175px;
    margin: 32px auto 48px;
    color: #EAEAEA; }
  .specification__filter {
    margin: 0 auto; }
    .specification__filter_list {
      padding: 0; }
      .specification__filter_list li {
        display: inline;
        list-style-type: none; }
        .specification__filter_list li a {
          text-decoration: none;
          font-size: 10px;
          line-height: 12px;
          color: #6F6E6E; }
    .specification__filter_list li:nth-child(2) {
      margin-left: 25px;
      margin-right: 25px; }
    .specification__filter_list li img {
      margin-left: 10px; }
  .specification__add button {
    margin: 64px auto;
    background: none;
    width: 212px;
    border: 1px solid #F26376;
    color: #F26376;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px; }
    .specification__add button img {
      width: 26px;
      height: 24px;
      margin-right: 23px; }
    .specification__add button p {
      text-align: center; }

@media (min-width: 768px) {
  .new {
    padding: 60px 16px; }
    .new__web {
      display: flex;
      justify-content: space-between; }
    .new__h3 h3 {
      margin-bottom: 0; }
    .new__text {
      line-height: 24px; }

  .filter {
    padding-left: 16px;
    padding-right: 16px; }
    .filter__menu_list li a {
      text-decoration: none;
      font-size: 14px;
      line-height: 17px; }

  .product__cart_img {
    padding-top: 29px;
    padding-bottom: 29px;
    width: 466px; }

  .specification__trait_2 {
    width: 642px; }
  .specification__text {
    padding-left: 106px;
    padding-right: 106px; } }
@media (min-width: 1440px) {
  .filter {
    padding-left: 16px;
    padding-right: 0; }
    .filter__menu {
      padding-right: 450px; }

  .pagination {
    margin: 48px auto 96px; }

  .product__cart_img {
    padding-top: 11px;
    padding-bottom: 42px;
    width: 597px; }

  .product__cart_arrow_left {
    top: 365px; }

  .product__cart_arrow_right {
    top: 365px; }

  .specification {
    position: relative;
    background-color: #FFFFFF;
    top: -50px; }
    .specification__text {
      padding-left: 292px;
      padding-right: 292px; }

  .featured {
    margin-bottom: 128px; } }

/*# sourceMappingURL=style.css.map */
